body {
    font-family: 'Open Sans', sans-serif !important;
}
a {
    text-decoration: none !important;
}
@media screen and (max-width: 992px) {
    .content {
        padding: 0 !important;
    }
}
.content {
    max-width: 1050px;
    margin: 0 auto;
}
.carousel {
    padding: 10px;
}
.carousel-caption {
    width: 100%;
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    padding: 30px 40px !important;
    text-align: left !important;
    background-color: rgba(0, 0, 0, 0.7);
}
.caption-text {
    font-size: 1em !important;
    font-weight: normal;
}
.card {
    border: none !important;
    margin: 80px 0;
}
.card-heading {
    color: #444;
}
.card-heading:hover {
    color: #444;
}
.card-img {
    width: 250px !important;
    height: 141px;
    padding: 10px;
    border: 1px solid #ccc;
}
.card-text {
    font-size: 13px;
}
.continue-btn {
    font-size: 10.4px;
    background-color: #333;
    color: #fff;
    padding: 7.8px 15.6px;
    border: none;
    text-decoration: none;
}
.card-right {
    padding-left: 15px;
}